header {
  position: relative;
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 200px 50px;
}

.fingers {
  padding: 10%;
  border: 6px solid #555;
  text-align: center;
  width: 100px;
  max-height: 50px;
}

.toes {
  padding: 10%;
  border: 6px solid #555;
  text-align: center;
  width: 100px;
  max-height: 50px;
}

.highlight {
  border: 6px solid blue;
  transform: scale(1.2);
}

